name: ui_components
description: Shared UI widgets for WorkFlow
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.7

resolution: workspace

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
